// config/containers.config - One-Process-One-Container Strategy
// Container definitions for each process

// Note: This is included in nextflow.config
// Access containers via: containers.fastp, containers.gatk, etc.

// Quality Control
containers.fastp = 'quay.io/biocontainers/fastp:0.23.4--h5f740d0_0'
containers.fastqc = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_1'
containers.multiqc = 'quay.io/biocontainers/multiqc:1.15--pyhdfd78af_0'

// UMI Processing
containers.fgbio = 'quay.io/biocontainers/fgbio:2.0.2--hdfd78af_0'

// Alignment
containers.bwa_mem2 = 'quay.io/biocontainers/bwa-mem2:2.2.1--hdfd78af_0'
containers.samtools = 'quay.io/biocontainers/samtools:1.18--hdfd78af_0'
containers.picard = 'quay.io/biocontainers/picard:3.0.0--hdfd78af_0'

// Variant Calling
containers.gatk = 'quay.io/biocontainers/gatk4:4.5.0.0--hdfd78af_0'
containers.vardict = 'quay.io/biocontainers/vardict-java:1.8.3--hdfd78af_0'
containers.lofreq = 'quay.io/biocontainers/lofreq:2.1.5--hdfd78af_0'

// CNV Analysis
containers.cnvkit = 'quay.io/biocontainers/cnvkit:0.9.9--hdfd78af_0'
containers.ichorcna = '965747689553.dkr.ecr.eu-west-2.amazonaws.com/ctdna-universal:latest'

// Structural Variants
containers.manta = 'quay.io/biocontainers/manta:1.6.0--hdfd78af_0'  // Note: Requires commercial license

// MSI Analysis
containers.msisensor_pro = '965747689553.dkr.ecr.eu-west-2.amazonaws.com/msisensor-pro:latest'  // Commercial version

// Annotation
containers.vep = 'quay.io/biocontainers/ensembl-vep:109.3--hdfd78af_0'

// Python tools
containers.python_base = 'quay.io/biocontainers/python:3.11--hdfd78af_0'

// Universal container (fallback)
containers.universal = '965747689553.dkr.ecr.eu-west-2.amazonaws.com/ctdna-universal:latest'
